/*
--- COLORS ---
originalna za login bottun - svijetlo plava: #2196F3;
infosit header nav svijetlija plava - glavna: #0161a3;
infosit header nav tamnija plava - za hover: #014d83;

*/

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg2.jpg");

}

main {
    padding: 15px;
}


/* ------------------------------------------------ NAV ------------------------------------------------ */

#menuIcon {
    display: inline-block;
    /* Menu icon is in the top right corner */
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    padding: 11px 13px;
}

#menuIcon:hover  {
    background: #014d83;
}

/* The look of the menu icon */
.menuIconLine {
    width: 32px;
    height: 4px;
    margin: 7px 0;
    background-color: #fff;
    border-radius: 2px;
}



/* --- NAVIGACIJA --- */
#main-nav {
    background-color: #0161a3;
    font-weight: 300;
    font-style: normal;
    min-height: 60px;
}

#nav-wrapper {
    max-width: 820px;
    margin: 0 auto;
    position: relative;
}

#main-nav ul {
    display: none;
    padding-top: 60px;
    list-style-type: none;
    overflow: hidden;
    background-color: #0161a3;
}

#main-nav li {
    display: block;
    clear: both;

    height: 60px;
}



.nav-link{
    display: block;
    color: white;
    height: 60px;
    line-height: 60px;
    vertical-align: center;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-link:hover {
    background-color: #014d83;
}

/* ---------------------------- NAV LOGIN -------------------- */


.nav-login-container {
    position: absolute;
    top: 0;
    right: 0;
    height:60px;
    max-width: 240px;
    padding: 12px;  */
}

.nav-user-wrapper {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  vertical-align: center;
  margin-right: 6px;
}


#nav-account {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#nav-account i {
  padding-left: 5px;
  margin-right: 5px;
}

#main-nav .nav-login-container #nav-login:hover {
    background-color: #2196F3;
}

/* --- NAVIGACIJA end --- */



/* --- NAV LOGIN FORM --- */

.nav-button {
    height: 36px;
    background: #2196F3;
    border: none;
    color: #fff;
    padding: 6px 12px;
    margin-right: 6px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nav-button:hover {
    background: #0c7cd5;
}

/* --- NAV LOGIN FORM end --- */





/* ------------------------------------------------ ARTICLE ------------------------------------------------ */


.main-article-container {
        margin: 20px auto;
    }

.article-container {
    display: inline-block;
    float: left;

    height: 300px;
    padding: 10px;
    margin: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #0161a3;
}

.article-image-container {
    position: relative;
    height: 140px;
    width: 230px;
}

.article-image-container img {
    width: 100%;
    height: 100%;
}

.article-container h4 {

    position: absolute;
    bottom: 0;
    left: 5px;
    background: #0161a3;
    color: #fff;
    padding: 2px 6px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.article-container h3 {
    margin-top: 3px;
    margin-bottom: 2px;
    color: #014d83;
    font-size: 18px;
}

.article-container p {
    color: #444;
}
/* --- ARTICLE end */
@media screen and (min-width: 585px) {
    #main-nav li {
        display: inline-block;
        clear: none;
        float: left;
    }

    #main-nav .nav-login-container {
        float: right;
    }

    #main-nav ul {
        display: block;
        padding-top: 0;
    }

    #menuIcon {
        display: none;
    }

    .main-article-container {
        width: 540px;
    }

    .article-container {
        display: inline-block;


        width: 250px;
        height: 300px;
        margin: 10px;
        padding: 10px;
    }

    .article-image-container {
        position: relative;
        height: 140px;
        width: 230px;
    }

}


@media screen and (min-width: 810px) {
    .main-article-container {
        width: 810px;
    }
}




/* ------------------------------------------------ LOGIN ------------------------------------------------ */

#login-container {
    max-width: 350px;
    margin: 100px auto 0 auto;
    padding: 20px;
    background: #e0e0e0;
    border-radius: 5px;
}

#register-container {
    max-width: 350px;
    margin: 100px auto 0 auto;
    padding: 20px;
    background: #e0e0e0;
    border-radius: 5px;
}

#form-container {
    width: 100%;
    margin: 0 auto;
}

.input-wrapper {
    position: relative;
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    background: #0161a3;
    color: #fff;
    line-height: 42px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.icon-wrapper i {
    vertical-align: center;
}

/*
.input-login-wrapper {

    position: absolute;
    top: 0;
    left: 42px;

    width: 100%;
}
*/
.input-login {
    width: 100%;
    height: 42px;
    margin-bottom: 15px;
    margin-right: 20px;
    padding-left: 52px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    background: white;

}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #999;
}
:-moz-placeholder { /* Firefox 18- */
    color: #999;
}



.remember-container {
    position: relative;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.remember-container-show-hide {
  float: right;
  margin-top: -10px;
  margin-bottom: 10px;
}

.left-remember-login-text {
    font-size: 14px;
    color: #888;
}

.right-remember-login-text {
    font-size: 14px;
    color: #888;

}

.remember-login-text {
    position: absolute;
    top: 2px;
    left: 48px;
    font-size: 14px;
    color: #888;
}


/* ------ slider button for remebering password ------ */
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;

}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.switch input:checked + .slider {
  background-color: #014d83;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ------ slider button for remebering password END ------ */



#submit-button {
    width: 100%;
    height: 42px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #2196F3;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#submit-button:hover {

    background: #0c7cd5;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#submit-button:active {
    background: #0960a5;

}
/* --- LOGIN end --- */





/*


.bordery {
    border: 1px solid red;
}
